{% extends 'base.html.twig' %}

{% block title %}BevShop | Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <p>Bienvenue <strong>{{ app.user.firstname }}</strong> dans votre compte. <br>
        C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>

    <hr>

    <ul>
        <li><a href="{{ path('account_password') }}">Modifier mot de passe</a></li>
        <li>Ajouter adresses de livraison</li>
        <li>Commandes</li>
    </ul>

    <hr>
{#    {{ dump(app.user) }}#}

{% endblock %}
