{% extends 'base.html.twig' %}

{% block title %}BevShop | Modifier password{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <a href="{{ path('account') }}">Mon compte</a>

    <hr>

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}

        {{ form(form) }}

    <hr>
    {#    {{ dump(app.user) }}#}

{% endblock %}
